<div *ngIf="visible" 
     class="se-snackbar"
     [class.se-snackbar--success]="type === 'success'"
     [class.se-snackbar--warning]="type === 'warning'"
     [class.se-snackbar--info]="type === 'info'"
     [class.se-snackbar--error]="type === 'error'"
     [class.se-snackbar--top-left]="position === 'top-left'"
     [class.se-snackbar--top-center]="position === 'top-center'"
     [class.se-snackbar--top-right]="position === 'top-right'"
     [class.se-snackbar--bottom-left]="position === 'bottom-left'"
     [class.se-snackbar--bottom-center]="position === 'bottom-center'"
     [class.se-snackbar--bottom-right]="position === 'bottom-right'"
     [@slideInOut]>
  <div class="se-snackbar__content">
    <div class="se-snackbar__icon">
      <!-- Success Icon -->
      <svg *ngIf="type === 'success'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
        <polyline points="22 4 12 14.01 9 11.01"></polyline>
      </svg>
      
      <!-- Warning Icon -->
      <svg *ngIf="type === 'warning'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
        <line x1="12" y1="9" x2="12" y2="13"></line>
        <line x1="12" y1="17" x2="12.01" y2="17"></line>
      </svg>
      
      <!-- Info Icon -->
      <svg *ngIf="type === 'info'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="12" y1="16" x2="12" y2="12"></line>
        <line x1="12" y1="8" x2="12.01" y2="8"></line>
      </svg>
      
      <!-- Error Icon -->
      <svg *ngIf="type === 'error'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="15" y1="9" x2="9" y2="15"></line>
        <line x1="9" y1="9" x2="15" y2="15"></line>
      </svg>
    </div>
    <span class="se-snackbar__message">{{ message }}</span>
  </div>
  <button *ngIf="showCloseButton" 
          class="se-snackbar__close" 
          (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </button>
</div>