<div class="se-card">
    <div class="left">
        <se-checkbox></se-checkbox>
        <div class="image">
            <div class="image-container">
                <img src={{image}} />
            </div>
            <p>In Stock</p>
        </div>
    </div>
    <div class="middle">
        <h2>{{heading}}</h2>
        <div class="information">
            <se-chip></se-chip>
            <se-chip></se-chip>
        </div>
        <div class="sustainability">
            <p>Sustainable by design</p>
            <img />
        </div>
        <div class="details">
            <p>Details</p>
            <div>More Details</div>
        </div>
    </div>
    <div  class="right">
        <div class="top">
            <div class="quantity">{{quantity}}</div>
            <div class="price">{{price}}</div>
            <div class="actions">
                <div class="edit"></div>
                <div class="delete"></div>
            </div>
        </div>
        <div class="bottom">
            <se-button></se-button>
            <se-button></se-button>
            <se-button></se-button>
            <se-button></se-button>
        </div>
    </div>
</div>